<h1 class="col-12">Satisfaction Survey</h1>

<mat-horizontal-stepper>
  <div *ngFor="let q of questions; let i=index">
    <!-- mat-step here since material refuses to render child component inside the stepper only inside a step -->
    <mat-step label="Question {{i+1}}" [completed]="submittedQuestions[i] !== undfined && submittedQuestions[i].valid">
      <app-survey-question [index]="i" [question]="q" (submittedScore)="onSubmittedScore($event)"></app-survey-question>
    </mat-step>
  </div>
</mat-horizontal-stepper>

<div class="mt-3" *ngIf="hasResult">
  <mat-error><strong>Warning!</strong> You have allready taken this survey. If you take it again your current answers will be overwritten.</mat-error>
</div>

<ng-template #errorDialog>
 <app-survey-error-modal [totalInvalidQuestions]="unanswered"></app-survey-error-modal>
</ng-template>
