<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Question {{number}}
      </mat-panel-title>
      <mat-panel-description>
        {{question.Text}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-survey-result-score [userScore]="question.userScore" [avgScore]="question.benchmarkScore"></app-survey-result-score>
  </mat-expansion-panel>
</mat-accordion>
