<mat-toolbar color="primary" class="mat-elevation-z8">
  <div class="d-md-none">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 text-right mr-3 mr-sm-0 text-md-left ml-auto ml-md-0 mr-md-auto">
        <h1>Brilliant Survey</h1>
      </div>
      <div class="d-none d-md-block col-8 text-right">
        <ul class="navigation-items">
          <li *ngFor="let item of menu">
            <a [routerLink]="[item.route]">{{item.caption}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</mat-toolbar>
