<form [formGroup]="questionForm" ngSubmit="onNext()">
  <h2>{{question.Text}}!</h2>
  <div class="col-8">
    <mat-radio-group name="score" formControlName="score" [ngModel]="score" aria-label="Select a number between 1 and 5" required>
      <mat-radio-button value="1">1</mat-radio-button>
      <mat-radio-button value="2">2</mat-radio-button>
      <mat-radio-button value="3">3</mat-radio-button>
      <mat-radio-button value="4">4</mat-radio-button>
      <mat-radio-button value="5">5</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-error *ngIf="submitted && this.questionForm.get('score').invalid">You must give a score.</mat-error>

  <div class="mt-3">
    <button *ngIf="index>0" mat-button color="primary" matStepperPrevious type="button">Previous</button>
    <button mat-button color="primary" matStepperNext (click)="onNext()" type="button">Next</button>
  </div>
</form>
