<h2 matDialogTitle>Not done yet</h2>
<mat-dialog-content>
  <p>You forgot to answer {{totalInvalidQuestions}} questions.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <a mat-raised-button matDialogClose color="primary">Close</a>
</mat-dialog-actions>
