<mat-card>
  <mat-card-title>Summery</mat-card-title>
  <mat-card-content>
    <app-survey-result-score [userScore]="userAvg" [avgScore]="benchAvg" [extraText]="'avarege'"></app-survey-result-score>
  </mat-card-content>
</mat-card>
