<h1>Your result!</h1>

<div class="col-12">
  <!-- Rather basic error message. No modal since dialog should not appear on page load. -->
  <h2 *ngIf="surveyResult == null">
    <mat-error>
      You have not taken the survey yet. Please do so.
    </mat-error>
  </h2>

  <div *ngIf="surveyResult">
    <app-survey-result-summery [userAvg]="surveyResult.userAvg" [benchAvg]="surveyResult.benchAvg"></app-survey-result-summery>

    <mat-card class="mt-4">
      <mat-card-title>Details</mat-card-title>
      <mat-card-content>
        <p>Click or tap the titlde to show details.</p>
      </mat-card-content>
    </mat-card>
    <div *ngFor="let q of surveyResult.questionScores; let i=index">
      <app-survey-result-question [number]="i+1" [question]="q"></app-survey-result-question>
    </div>
    <div class="mt-5 mb-5">
      <button mat-raised-button color="warn" (click)="clear()">Erase result</button>
    </div>
  </div>
</div>
