<div class="row">
  <div class="col-6"><strong>Your {{extraText}} score:</strong></div>
  <div class="col-2">{{userScore}}</div>
</div>

<div class="row">
  <div class="col-6"><strong>Other users avarege score:</strong></div>
  <div class="col-2">{{avgScore}}</div>
</div>
